<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf8" />
    <title>Lista de espera CID</title>
    <link rel="stylesheet" type="text/css" href="css/estilo.css">

</head>

<body>
    <header class="titulo">
        <h2>Lista de espera</h2>
        <h3>Curso de inclusao digital</h3>
    </header>
    <div>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a data-toggle="dropdown">Lista de espera</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="./incluir_inscricao.html">Incluir</a></li>
                        <li><a href="./listar_inscricao.html">Listar inscritos</a></li>
                    </ul>
                </li>
                <li><a>Matriculas</a>
                    <ul class="dropdown-menu">
                        <li><a href="./incluir_matricula.html">matricular</a></li>
                        <li><a href="./listar_matricula.html">Listar matriculados</a></li>
                    </ul>
                </li>
                <li><a>Turmas</a>
                    <ul class="dropdown-menu">
                        <li><a href="./incluir_turma.html">Abrir turmas</a></li>
                        <li><a href="./listar_turmas.html">Listar turmas</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div id="header"></div>
    <h1>Cadastrar na lista de espera</h1>

    <form action="processa.html" method="POST">
        <label>Data da inscricao </label>
        <input type="date" name="data_incricao" />
        <br>

        <label>Nome completo: </label>
        <input type="text" placeholder="Digite aqui" name="nome" />
        <br>

        <label>Nome da mãe</label>
        <input type="text" placeholder="Digite aqui" name="nome_mae" />
        <br>

        <label>data de nascimento</label>
        <input type="date" placeholder="Digite aqui" name="data_nasc" />
        <br>

        <div class="telefones">
            <label>telefone</label>
            <label>tipo</label>
            <select name="tipotel">
                <option value="Residencia">Residencia</option>
                <option value="Celular">Celular</option>
            </select>
            <br>

            <label>DDD</label>
            <input type="text" placeholder="11" name="ddd" />

            <label>telefone</label>
            <input type="text" placeholder="2222-3333" name="tel" />
            <br>
        </div>


        <label>Escolaridade</label>
        <select name="escolaridade">
            <option value="nao_frequentou">Nao frequentou</option>
            <option value="fundamental">Ensino Fundamental</option>
            <option value="medio">Ensino Médio</option>
            <option value="superior">Ensino Superior</option>
        </select>

        <br>
        <label>situação escolar</label><br>
        <select name="situacao_escolar">
            <option value="incompleto">Incompleto</option>
            <option value="cursando">Cursando</option>
            <option value="completo">Completo </option>
        </select>

        <br>
        <input type="submit" name="submit" value="Enviar" />
    </form>

    <table>
        <tr>
            <th>turmas feitas</th>
            <th>estado</th>
        </tr>

        <tr>
            <td>06/06/2019</td>
            <td>cancelado</td>
        </tr>
        <tr>
            <td>06/06/2019</td>
            <td>cancelado</td>
        </tr>
    </table>
    <footer>
        <h5>Instituto Paulista de Geriatria e Gerontologia (IPGG) José Ermírio de Moraes</h5>
    </footer>
</body>

</html>