<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf8" />
    <title>Lista de espera CID</title>
    <link rel="stylesheet" type="text/css" href="css/estilo.css">

</head>

<body>
    	<div>
                <nav>
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a data-toggle="dropdown">Lista de espera</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="./incluir_inscricao.html">Incluir</a></li>
                                <li><a href="./listar_inscricao.html">Listar inscritos</a></li>
                            </ul>
                        </li>
                        <li><a>Matriculas</a>
                            <ul class="dropdown-menu">
                                <li><a href="./incluir_matricula.html">matricular</a></li>
                                <li><a href="./listar_matricula.html">Listar matriculados</a></li>
                            </ul>
                        </li>
                        <li><a>Turmas</a>
                            <ul class="dropdown-menu">
                                <li><a href="./incluir_turma.html">Abrir turmas</a></li>
                                <li><a href="./listar_turmas.html">Listar turmas</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        
    <h1>Cadastrar Turma</h1>

    <form action="processa.html" method="POST">
        <label>Data de inicio</label>
        <input type="date" name="data-incricao" />
        <br>

        <label>Data de fim</label>
        <input type="date" name="data-incricao" />
        <br>

        <label>dia da semana: </label>
        <select name="semana1">
            <option value="1">Segunda</option>
            <option value="2">Terça</option>
            <option value="3">Quarta</option>
            <option value="4">Quinta</option>
            <option value="3">Sexta</option>
        </select>

        <label>dia da semana: </label>
        <select name="semana2">
            <option value="1">Segunda</option>
            <option value="2">Terça</option>
            <option value="3">Quarta</option>
            <option value="4">Quinta</option>
            <option value="3">Sexta</option>
        </select>
        <br>

        <label>horario de inicio</label>
        <input type="text" placeholder="Digite aqui" name="texto" />
        <br>

        <label>horario de fim</label>
        <input type="text" placeholder="Digite aqui" name="texto" />
        <br>

        <label>Instrutor</label>
        <input type="text" placeholder="Digite aqui" name="texto" />
        <br>

  
</body>

</html>