<!DOCTYPE html>
<html lang="pt-br">

<head>
	<title>Lista de espera CID</title>
	<meta charset="UTF-8">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	<script src="js/index.js"></script>
	<!--===============================================================================================-->
</head>

<body>
	<div class="titulo">
		<h2>Lista de espera</h2>
		<h3>Curso de inclusao digital</h3>
	</div>

	<div>

	</div>
</body>

</html>