body{
    background-image: url("../img/IPGG_predio.png");
    color: #0e0f0f;
}
.titulo{
    text-align:center;
    padding: 1.5%; 
    background-color: #052b44;
    color: #f3f3f3;
}
footer{
    text-align:center;
    padding: 0.5%; 
    background-color: #052b44;
    color: #f3f3f3; 
    position:relative;
    bottom:0;
    width:97%;
}
.tabelas{
    margin: auto;
    width: 50%;
}

.container-login{
    background-color: #183d55;
    margin: auto;
    width: 30%;
    padding: 5vw 0vw;
    font-size: 150%;
    text-align: center;
    border:  2px solid #59ffdb;
    border-radius: 5px;
    margin-top: 7vw;  
}
form{
    height: 25vw;
}

.botao{
    box-shadow: inset 0px -3px 7px 0px #7ad0f8;
    background-color: #2dabf9;
    border-radius: 3px;
    border: 1px solid #0b0e07;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 9px 23px;
    margin-top: 1vw;
}
.botao:hover{
    background-color: #238ed1;
}
.botao:active{
    top: 1px;
    left:1px;
}

